<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>View a Recipe</title>
</head>
<body>
    <header>
        <h3>MARGARITA RECIPE</h3>
    </header>
      <h1><%= margarita.name %></h1>
      <table>
      <tbody>
      <tr>
      <td>Fruit:</td>
      <td><%= margarita.fruit1 %></td>
      <td><%= margarita.fruit1Cups %></td>
      </tr>
      <tr>
        <td>2nd Fruit:</td>
      <td><%= margarita.fruit2 %></td>
      <td><%= margarita.fruit2Cups %></td>
    </tr>
    <tr>
        <td>3rd Fruit:</td>
        <td><%= margarita.fruit3 %></td>
        <td><%= margarita.fruit3Cups %></td>
        </tr>
        <tr>
            <td>HerbsSpices:</td>
            <td><%= margarita.herbSpices %></td>
            <td><%= margarita.herbSpicesTsp %></td>
         </tr>
         <tr>
            <td>Tequila:</td>
            <td><%= margarita.tequila %></td>
            <td><%= margarita.tequilaOz %></td>
         </tr>
         <tr>
            <td>Juices:</td>
            <td><%= margarita.juices %></td>
            <td><%= margarita.juicesOz %></td>
         </tr>
         <tr>
            <td>Liqueur:</td>
            <td><%= margarita.liqueur %></td>
            <td><%= margarita.liqueurOz %></td>
         </tr>
         <tr>
            <td>Salt:</td>
            <td><%= margarita.salt %></td> 
         </tr>
         <tr>
            <td>Sweetner:</td>
            <td><%= margarita.sweetener %></td> 
            <td><%= margarita.sweetenerTsp %></td> 
         </tr>
         <tr>
             <td>Garnish:</td>
            <td><%= margarita.garnish %></td> 
         </tr>
         <tr>
            <td>Ice Style:</td>
           <td><%= margarita.ice %></td> 
        </tr>
        </tbody>
    </table>
</body>
</html>